body{

font-family:Arial;
background:#191414;
color:white;
padding:40px;

}

h1{

text-align:center;

}

.song{

width:400px;
margin:20px auto;
background:#282828;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
border-radius:10px;

}

button{

background:red;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;

}

button:hover{

background:darkred;

}