<!DOCTYPE html>
<html>

<head>

<title>Home</title>

<style>

body{
font-family:Arial;
background:#ffffff;
margin:0;
}

.hero{
text-align:center;
padding:100px;
background:linear-gradient(to right,#007bff,#00c6ff);
color:white;
}

button{
padding:12px 25px;
background:white;
color:#007bff;
border:none;
font-size:18px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#eeeeee;
}

</style>

</head>

<body>

<div class="hero">

<h1>Welcome to Django Authentication Project</h1>

<p>Login to access your dashboard.</p>

<button>Get Started</button>
<a href="/my_orders">My Orders</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/post-product">Post Products</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/add-review">Add Reviews</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/view-review">See Views</a>&nbsp;&nbsp;&nbsp;&nbsp;

</div>

</body>

</html>