<!DOCTYPE html>
<html>

<head>

<title>Movie Reviews</title>

<style>

body{
background:#ececec;
font-family:Arial;
}

.container{
width:70%;
margin:auto;
margin-top:40px;
}

.review{
background:white;
padding:20px;
margin:20px 0;
border-radius:8px;
box-shadow:0 0 8px gray;
}

</style>

</head>

<body>

<div class="container">

<h1>Movie Reviews</h1>

<div class="review">

<h3>Avengers Endgame</h3>

<p>
Excellent movie with amazing action scenes.
</p>

</div>

<div class="review">

<h3>Bahubali</h3>

<p>
One of India's greatest movies.
</p>

</div>

</div>

</body>

</html>